/* ===================================
   DASHBOARD PASAJERO
   =================================== */

.dashboard{

    width:100%;
    max-width:420px;

    margin:0 auto;

    padding:20px;

    padding-bottom:90px;
}

/* ===================================
   HEADER
   =================================== */

.header h2{

    color:var(--text);

    margin-bottom:5px;
}

.header p{

    color:var(--text-light);
}

/* ===================================
   UBICACIÓN
   =================================== */

.location-card{

    margin-top:20px;

    display:flex;

    align-items:center;

    gap:12px;

    background:white;

    padding:15px;

    border-radius:16px;

    box-shadow:var(--shadow);
}

.location-card span{

    color:var(--primary);
}

/* ===================================
   MAPA
   =================================== */

.map-container{

    margin-top:20px;

    height:220px;

    background:white;

    border-radius:20px;

    box-shadow:var(--shadow);

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:10px;
}

.map-icon{

    font-size:50px;

    color:var(--primary);
}

/* ===================================
   DESTINO
   =================================== */

.destination{

    margin-top:20px;

    display:flex;

    flex-direction:column;

    gap:8px;
}

.destination label{

    font-weight:600;
}

.destination input{

    height:56px;

    border:1px solid #e2e8f0;

    border-radius:16px;

    padding:0 15px;

    outline:none;

    font-family:var(--font);
}

/* ===================================
   MENÚ INFERIOR
   =================================== */

.bottom-nav{

    position:fixed;

    bottom:0;

    left:0;

    width:100%;

    background:white;

    display:flex;

    justify-content:space-around;

    padding:12px;

    box-shadow:0 -2px 10px rgba(0,0,0,.08);
}

.bottom-nav a{

    text-decoration:none;

    color:var(--text-light);

    display:flex;

    flex-direction:column;

    align-items:center;

    font-size:12px;
}

.bottom-nav span{

    font-size:22px;
}


   .map-link-card{

    display:flex;

    align-items:center;

    gap:15px;

    background:white;

    border-radius:18px;

    padding:16px;

    margin-top:15px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

    cursor:pointer;
}

.map-link-card .material-symbols-outlined{

    font-size:32px;

    color:#16a34a;
}

.map-link-card p{

    font-size:13px;

    color:#6b7280;

    margin-top:4px;
}
